
@{
    ViewData["Title"] = "Examexamination";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="element" class="  container" style="background-color:#F5F5F5;">
    <div class="card card-body">
        <h1>Examexamination</h1>
        <div class="row border-danger border-left  ">
            <div class="col-12 text-center">
            
                    <H1 id="demo" class="display-1"> เริ่มทำข้อสอบ</H1>
              
                <span style="font: bold 12px; color:red; display:none;" id="Massaging">
                    ห้ามออกจากหน้าจอจนกว่าจะข้อสอบจบ
                </span>
            </div>
        </div>
    @*    <hr class="m-4" />*@
    </div>
   

    <div class="offset-1 col-11 table-responsive " style="overflow-y:scroll; height:70%">
        <div class="m-2" id="DivContents"></div>
        <div class="text-center" id="ftExam"  style="display:none;">
            <span style="font: bold 12px; color:red;  "  >
               กรุณาตรวจคำตอบให้แน่ใจก่อนกดปุ่ม SUBMIT
            </span>
            <button class="btn btn-success btn-lg btn-block text-uppercase" id="btnSubmit" disabled> Submit</button>
        </div>
    </div>

</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">กฏการทำข้อสอบ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                กฏการทำข้อสอบ
            </div>
            <div class="modal-footer">
                <button type="button" id="testtest" class="btn btn-warning" data-dismiss="modal">START</button>
            </div>
        </div>
    </div>
</div>






@section scripts{
    <link href="~/lib/datatables/Css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/lib/datatables/Js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        var distance;
        var myTables1;
        $(document).ready(function () {
            $('#exampleModalCenter').modal('show');
        });
        onReady(function () {


        }); 

        document.addEventListener("keydown", function (e) {
            //tab keyCode===9
            //I hope to prevent alt+tab event action in windows
            if (e.altKey && e.keyCode === 9) {
                e.preventDefault(); //why not come in?
            }
        }, false)


        function onReady(callback) {
            var intervalId = window.setInterval(function () {
                if (document.getElementsByTagName('body')[0] !== undefined) {
                    window.clearInterval(intervalId);
                    callback.call(this);
                }
            }, 1000);
        }


        function GetData() {
              $.ajax({
                type: 'POST',
                  url: "../UIExam/GetExamList",
                  data: { itemCateg: "@ViewBag.Itemcateg", InputItem : "@ViewBag.InputItem" },
                  dataType: 'json',
                  success: function (Data) {
                      $("#DivContents").html(Data._strResult);
                      TESTRedio();
                      Gettime(2);
                      $("#btndemo").attr("disabled", 'disabled');
                      $("#btnSubmit").removeAttr("disabled", 'disabled');

                  },
                  error: function (ex) {

                  },
                });
        }

        var Arrs = [];
        function TESTRedio() {

          
            var ArrCompl = [];


            $('input[type="radio"]').click(function () {
                 
                if ($(this).is(':checked')) {
                    var Quest = $(this).attr("name");

                     
                    var x = ArrCompl.indexOf($(this).attr("name"));
                    
                    var Ans = $(this).val(); 
                    var GroupItem = { strQuestion: Quest, strAnswer: Ans };

                    if (x < 0) { 
                        Arrs.push(GroupItem);
                        ArrCompl.push(Quest);
                    } else {
                        Arrs.splice(x, 1, GroupItem);
                    } 
                }
            });
        }


        var x
        function Gettime(strTime) {
            // Set the date we're counting down to

            var now = new Date();
            now.setMinutes(now.getMinutes() + strTime); // timestamp
            now = new Date(now);

            var countDownDate = new Date(now).getTime();

            // Update the count down every 1 second
            x = setInterval(function () {

                // Get today's date and time
                var now = new Date().getTime();

                // Find the distance between now and the count down date
                  distance = countDownDate - now;

                // Time calculations for days, hours, minutes and seconds
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                // Display the result in the element with id="demo"
                document.getElementById("demo").innerHTML =   hours + "h "
                    + minutes + "m " + seconds + "s ";

                if (minutes == 0) { 
                    $("#demo").css("color", "#f00");
                }
                // If the count down is finished, write some text
                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("demo").innerHTML = "EXPIRED";

                    $("#DivContents").html("");
                    GoOutFullscreen();
                    Swal.fire({
                        icon: 'warning',
                        title: 'TIME OUT!!',
                        type: 'error',
                        timer: 1700,
                    }).then(function () { 
                        return true;
                    });
                }
            }, 1000); 
        } 

        /* Get into full screen */
            function GoInFullscreen(element) {

            if (element.requestFullscreen)
                element.requestFullscreen();
            else if (element.mozRequestFullScreen)
                element.mozRequestFullScreen();
            else if (element.webkitRequestFullscreen)
                element.webkitRequestFullscreen();
            else if (element.msRequestFullscreen)
                element.msRequestFullscreen();
        }

        /* Get out of full screen */
        function GoOutFullscreen() {
            if (document.exitFullscreen)
                document.exitFullscreen();
            else if (document.mozCancelFullScreen)
                document.mozCancelFullScreen();
            else if (document.webkitExitFullscreen)
                document.webkitExitFullscreen();
            else if (document.msExitFullscreen)
                document.msExitFullscreen();

        }

        /* Is currently in full screen or not */
        function IsFullScreenCurrently() {
            var full_screen_element = document.fullscreenElement || document.webkitFullscreenElement || document.mozFullScreenElement || document.msFullscreenElement || null;

            // If no element is in full-screen
            if (full_screen_element === null)
                return false;
            else
                return true;
        }
        $("#testtest").on("click", function () {

            if (IsFullScreenCurrently()) {
                GoOutFullscreen(); 
            } else {
                GoInFullscreen($("#element").get(0));
                GetData();
                $("#Massaging").css("display", "block");
                $("#ftExam").css("display", "block");
            }
        });

        $("#btnSubmit").on("click", function () { 
            if (IsFullScreenCurrently()) { 
                
                GoOutFullscreen();  

            } else {
                GoInFullscreen($("#element").get(0));
            }

        });

        function CommitExam() {

               $.ajax({
                type: 'POST',
                   url: "../UIExam/CommitExam",
                   data: { ArrAns: Arrs ,strItemCateg: "@ViewBag.Itemcateg",strItemInput:"@ViewBag.InputItem",OPID:"@User.Identity.Name"},
                  dataType: 'json',
                   success: function (Data) {
                        debugger
                       var strTitle = "";
                       var strText = "";
                       var strCateg = "";
                       if (Data.dataBool == true && Data.data == "OK") {
                           
                           if (Data.dataResult == "True") {
                               strTitle = "PASS <i class='fas fa-thumbs-up'></i>";
                               strText = "congratulation!! :>";
                               strCateg = "success";
                           } else { 
                               strTitle = "FAIL <i class='fas fa-thumbs-down'></i>";
                               strText = "Please context to TEC ";
                               strCateg = "error";
                           }
                       } else {
                           debugger
                           strTitle = Data.data;
                           strText = Data.dataResult;
                           strCateg = "error";
                       }
                       
                      Swal.fire({
                          icon: strCateg,
                          title: strTitle,
                          text: strText,
                          type: strCateg,
                          //timer: 1700,
                      }).then(function () {
                          return true;
                      });
                  },
                  error: function (ex) {

                  },
                });


        }

        $(document).on('fullscreenchange webkitfullscreenchange mozfullscreenchange MSFullscreenChange', function () {
            if (IsFullScreenCurrently()) {
                return false;
            }
            else {
               
                clearInterval(x);
                alert('The exam is over'); 
                $("#DivContents").html("<div class='text-center m-4'><H1 class='text-danger'>TEST END</H1><H1 class='text-danger'><i class='fas fa-check-circle'></i></H1> <br/> <a href='@Url.Action("LicenceList")' class='btn  btn-link'> MainMenu</a></div>" );
                $("#ftExam").css("display", "none");
                CommitExam();
                return false;
            }
        });


        window.onbeforeunload = function (event) {
             
            var message = 'Important: Please click on \'Save\' button to leave this page.';
            if (typeof event == 'undefined') {
               // CommitExam();
                event = window.event;
               
            }
            if (event) { 
                event.returnValue = message;
            }
            return message;
           
        };

        $(window).on("beforeunload", function () {
            return inFormOrLink ? "Do you really want to close?" : null;
        })

       

    </script>
} 