@using RISTExamOnlineProject.Controllers
@using RISTExamOnlineProject.Models.db
@model RISTExamOnlineProject.Models.db.vewDivisionMaster

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "EditUserInCharge";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

@*<h1>Edit User InCharge</h1>*@
<h5 class="mb-0">
    <strong>Edit User InCharge</strong>
</h5>
<span class="text-secondary">OperatorReqChange </span>
@*<h4>OperatorReqChange</h4>*@
<hr />

<div class="row mt-3">
    <div class="col-sm-8">
        <form  asp-action="EditUserInCharge" method="post">
            <div class="mt-1 mb-3 p-3 button-container bg-white border shadow-sm">
                <h5 class="mb-0">
                    <strong>Section Change</strong>
                </h5>
                <hr />

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label class="mb-0">Current-Division</label>
                        @Html.TextBox("Division", (string)ViewBag.CategoryDivision, new { @class = "form-control border-success", disabled = "disabled" })
                    </div>
                    <div class="col-sm-6">
                        <label class="mb-0 text-danger">New-Division</label>
                        @*@Html.DropDownList("ProcedureID", ViewBag.ProcedureSubCategoryID as SelectList, new { @class = "form-data" })*@
                        @Html.DropDownList("DivisionList",ViewBag.listofCatagoryDiv as SelectList, "Select", new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label class="mb-0">Current-Department</label>
                        @Html.TextBox("Department", (string)ViewBag.CategoryDepartment, new { @class = "form-control border-success", disabled = "disabled" })
                    </div>

                    <div class="col-sm-6">
                        <label for="DepartmentList" class="mb-0 text-danger">New-Department</label>
                        <select class="form-control" id="DepartmentList" name="DepartmentList" asp-for="DepartmentID"
                                asp-items="@(new SelectList(string.Empty,"DepartmentID", "Department"))"></select>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label class="mb-0">Current-Section</label>
                        @Html.TextBox("Section", (string)ViewBag.CategorySection, new { @class = "form-control border-success", disabled = "disabled" })
                    </div>
                    <div class="col-sm-6">
                        <label for="SectionCodeID" class="mb-0 text-danger">New-Section</label>
                        <select class="form-control" id="SectionCodeID" name="SectionCodeID" asp-for="SectionCodeID"
                                asp-items="@(new SelectList(string.Empty,"SectionCodeID", "Section"))"></select>
                    </div>
                </div>





            </div>
            <div class="mt-1 mb-3 p-3 button-container bg-white border shadow-sm">
                <h5 class="mb-0">
                    <strong>Shift Change</strong>
                </h5>
                <hr />

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label class="mb-0">Current-Shift</label>
                        @Html.TextBox("Shift", (string)ViewBag.CategoryShift, new { @class = "form-control border-success", disabled = "disabled" })
                    </div>
                    <div class="col-sm-6">
                        <label for="shiftmaster" class="mb-0 text-danger">New-Shift</label>
                        @Html.DropDownList("Shift", (IEnumerable<SelectListItem>)ViewBag.CategoryShiftmaster, "Select", new { @class = "form-control" })
                    </div>
                </div>






            </div>
            <div class="mt-1 mb-3 p-3 button-container bg-white border shadow-sm">
                <h5 class="mb-0">
                    <strong>License Change</strong>
                </h5>
                <hr />

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label class="mb-0">Current-License</label>
                        @Html.DropDownList("License", (MultiSelectList)ViewBag.CategoryLicense, new { @class = "form-control border-success", multiple = "multiple", disabled = "disabled" })
                    </div>
                    <div class="col-sm-6">
                        <label class="mb-0 text-danger">New-License</label>
                        <div>
                            <select id="LicenseList" multiple="multiple" required name="LicenseList" class="selectlicenselist form-control" data-header="Select License">
                                @if (ViewBag.licensecatagory != null)
                                {
                                    foreach (var item in ViewBag.licensecatagory)
                                    {
                                        if (item.Text != null)
                                        {
                                            <option value="@item.Value">
                                                @item.Text
                                            </option>
                                        }
                                    }
                                }
                            </select>
                        </div>

                    </div>
                </div>
            </div>
            <div class="mt-1 mb-3 p-3 button-container bg-white border shadow-sm">
                <h5 class="mb-0">
                    <strong>Resign Change</strong>
                </h5>
                <hr />

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label class="mb-0">Current-Resign</label>
                        @Html.TextBox("Resign", (string)ViewBag.CategoryResign, new { @class = "form-control border-success", disabled = "disabled" })
                    </div>
                    <div class="col-sm-6">
                        <label class="mb-0 text-danger">New-Resign</label>
                        <div>
                            @Html.DropDownList("ResignMaster", (IEnumerable
                                <SelectListItem>)ViewBag.ResignMaster,"Select", new{@class = "form-control"})
                        </div>

                    </div>
                </div>
            </div>
            <div class="mt-1 mb-3 p-3 button-container bg-white border shadow-sm">
                <h5 class="mb-0">
                    <strong>Additional Change</strong>
                </h5>
                <hr />

                <div class="form-group row">
                    <div class="col-sm-12">
                        <label class="mb-0">Current-Additional</label>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Division</th>
                                    <th>Department</th>
                                    <th>Section</th>
                                </tr>
                            </thead>
                            <tbody>
                           
                            @foreach (var item in ViewBag.AdditionalCurrent)
                            
                            {
                                <tr>
                                    <td>
                                        @item.Division
                                    </td>
                                    <td>
                                        @item.Department
                                    </td>
                                    <td>
                                        @item.Section
                                    </td>
                                    
                                </tr>
                            }

                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-12">
                        <label class="mb-0 text-danger">New-Additional</label>
                        <div>
                            
                        </div>

                    </div>
                </div>
            </div>

            <div class="mt-1 mb-3 p-3 button-container bg-white border shadow-sm">

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>

            </div>
            @*Example multiselect*@
            @*<select class="selectpicker form-control" data-live-search="true" data-actions-box="true" multiple title="Choose one of the following..." data-header="Select a condiment" data-style="btn-primary">
                    <optgroup label="Picnic">
                        <option>Mustard</option>
                        <option>Ketchup</option>
                        <option>Relish</option>
                    </optgroup>
                    <optgroup label="Camping">
                        <option>Tent</option>
                        <option>Flashlight</option>
                        <option>Toilet Paper</option>
                    </optgroup>
                </select>*@
        </form>
    </div>
</div>


@{
    var opno = @User.Identity.Name;
}

<div>
    @*<a asp-controller="Management" asp-action="UserInCharge" asp-route-id=op > ProductName</a>*@
    <a href="@Url.Action("UserInCharge", "Management", new {opno = $"{opno}"})" class=""><i class="fa fa-angle-right mr-2"></i><i class="fa fa-font-awesome"></i> Back to List</a>
    @* <a asp-action="UserInCharge" id="">Back to List</a>*@
</div>


@section scripts{
    @*<script src="~/lib/jquery/jquery.js"></script>*@
    <script type="text/javascript">
        $(document).ready(function () {
            var items = "<option value='0'>Select</option>";

            $('#DepartmentList').html(items);
            $('#SectionCodeID').html(items);
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#DivisionList').change(function () {
                var url = '@Url.Content("~/")' + "Management/GetDepartmentCategory";
                var ddlsource = "#DivisionList";
                $.getJSON(url, { DivisionList: $(ddlsource).val() }, function (data) {
                    var items = '';
                    $("#DepartmentList").empty();
                    $.each(data, function (i, department) {
                        items += "<option value='" + department.value + "'>" + department.text + "</option>";
                    });
                    $('#DepartmentList').html(items);
                });
            });

            $('#DepartmentList').change(function () {
                var url = '@Url.Content("~/")' + "Management/GetSectionCategory";
                var ddlsource = "#DepartmentList";
                $.getJSON(url, { DepartmentList: $(ddlsource).val() }, function (data) {
                    var items = '';
                    $('#SectionCodeID').empty();
                    $.each(data, function (i, section) {
                        items += "<option value='" + section.value + "'>" + section.text + "</option>";
                    });
                    $('#SectionCodeID').html(items);
                });
            });
        });
    </script>



    <script src="~/lib/bootstrap-select/js/bootstrap-select.js"></script>


    <link href="~/lib/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />


    <script type="text/javascript">
        $(document).ready(function () {
            // Enable Live Search.
            //$('#LicenseList').attr('data-live-search', true);

            //// Enable multiple select.
            $('#LicenseList').attr('multiple', true);
            // $('#CountryList').attr('data-selected-text-format', 'count');

            $('.selectlicenselist').selectpicker(
                {
                    width: '93%',
                    title: 'Select',
                    //style: 'btn-warning',
                    size: 6
                    //iconBase: 'fa',
                    //tickIcon: 'fa-check'
                });
        });
    </script>
}

