<div class="col-sm-12  ">
    <div class=" row">
        <div class="col-7">
            <h5 class=" mb-0"><strong> User info</strong></h5>
            <span class="text-secondary">Employee Management <i class="fa fa-angle-right"></i> User info</span>
        </div>
    </div>

    <div class="mt-1 mb-3 p-3 button-container bg-white border shadow-sm" readonly>
        <form action="">
            <div class="form-group form-row " >

                <div class="col-sm">
                    <label for="NameEng" class="mb-0">Name - Surname</label>
                    @Html.TextBox("NameEn", null, new { @class = "form-control form-control-sm shadow-sm dataInfo", placeholder = "Search Staff Code..", id = "NameEn" })

                </div>
                <div class="col-sm">
                    <label for="NameTh" class="mb-0">ชื่อ - นามสกุล</label>
                    @Html.TextBox("NameTh", null, new { @class = "form-control form-control-sm shadow-sm dataInfo", placeholder = "Search Staff Code..", id = "NameTh" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm">
                    <label for="Position" class="mb-0">Position</label>
                    @Html.TextBox("txtPosition", null, new { @class = "form-control form-control-sm shadow-sm dataInfo", placeholder = "Search Staff Code..", id = "txtPosition" })
                </div>
                <div class="col-sm">
                    <label for="Division" class="mb-0">Division</label>
                    @Html.DropDownList("ddlDivision", new MultiSelectList(string.Empty, "Value", "Text"), new { @id = "ddlDivision", @class = " custom-select custom-select-sm dataInfo", width = "300px" })
                </div>
                <div class="col-sm">
                    <label for="Department" class="mb-0">Department</label>
                    @Html.DropDownList("ddlDepartment", new MultiSelectList(string.Empty, "Value", "Text"), new { @id = "ddlDepartment", @class = "custom-select custom-select-sm dataInfo", width = "300px" })
                </div>
                <div class="col-sm">
                    <label for="Section" class="mb-0">Section</label>
                    @Html.DropDownList("ddlSection", new MultiSelectList(string.Empty, "Value", "Text"), new { @id = "ddlSection", @class = " custom-select custom-select-sm dataInfo", width = "300px" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">
                    <label for="Shift" class="mb-0">Shift</label>
                    @Html.DropDownList("ddlShift", new MultiSelectList(string.Empty, "Value", "Text"), new { @id = "ddlShift", @class = " custom-select custom-select-sm dataInfo", width = "300px" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm">
                    <label for="Email" class="mb-0">Email</label>
                    @Html.TextBox("txtEmail", null, new { @class = "form-control form-control-sm shadow-sm dataInfo", placeholder = "Search Staff Code..", id = "txtEmail" })
                </div>
                <div class="col-sm">
                    <label for="Rfid" class="mb-0">Password</label>
                    @Html.TextBox("password", null, new { @class = "form-control form-control-sm shadow-sm dataInfo", placeholder = "Search Staff Code..", id = "password" })
                </div>
            </div>
            <div class="form-group row">

                <div class="col-sm">
                    <label for="txtAddDate" class="mb-0">Work Start Date</label>
                    <input type="text" class="form-control  form-control-sm  datetimepicker-input dataInfo" id="txtAddDate" data-toggle="datetimepicker" data-target="#txtAddDate" />
                </div>
                <div class="col-sm">
                    <label for="txtupdDate" class="mb-0">Update Date</label>
                    <input type="text" class="form-control form-control-sm datetimepicker-input dataInfo" id="txtUpdDate" data-toggle="datetimepicker" data-target="#txtUpdDate" />
                </div>
            </div> 
        </form>
    </div>
</div>
<script>
    function Getinitial() {
        GetDivision();
        GetDepartment();
        GetSectionCode();
        GetGroupName();
        $(".dataInfo").removeClass("shadow-sm").addClass("form-control-plaintext");
    } 



   
</script>