
@*@{
    ViewData["Title"] = "New_Exam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>

<head>

</head>

<body>

    <div class="container-fluid">
        <div class="row justify-content-center m-4">

            <div class="col-5">
                <h1><b> Exam Maintenance  </b></h1>
            </div>
        </div>



        <div class="row justify-content-center">
            <div class="col-10">
                <div class="card rounded shadow-lg m-auto ">
                    <div class="card-header badge-dark  ">
                        <h3><b>Select Exam </b></h3>
                    </div>

                    <div class="card-body">

                        <br />
                        <div class="row justify-content-lg-start ">

                            <div class="col-2 text-right">

                                <b>  Exam Category :</b>
                            </div>
                            <div class="col-3">
                                @Html.DropDownList("DDL_ExamCategory", new SelectList("", ""), new { @id = "DDL_ExamCategory", @class = " custom-select custom-select-sm" })
                            </div>

                            <div class="col-2 text-right">
                                <b>
                                    Exam Name :
                                </b>
                            </div>
                            <div class="col-3">
                                @Html.DropDownList("DDL_ExamName", new SelectList("", ""), new { @id = "DDL_ExamName", @class = " custom-select custom-select-sm" })
                            </div>



                        </div>
                        <br />
                        <div class="row justify-content-center">
                            <div class="col-2">

                                <button class="btn btn-success" onclick="Manage_Exam()">Management </button>

                            </div>



                        </div>

                    </div>
                </div>

            </div>
        </div>





    </div>


    @section Scripts
{

        <script>



            $(document).ready(function () {
                CheckRole();
                GetExamCategory();

            });

            function GetExamCategory() {


                $.ajax({
                    type: 'POST',
                    url: '../Exam/GetCategory',
                    dataType: 'json',
                    success: function (Divisions) {
                        if (Divisions.length != 0) {
                            $.each(Divisions, function (i, div) {
                                $("#DDL_ExamCategory").append('<option value="' + div.value + '">' + div.text + '</option>');
                            });
                        }
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                });
            }

            function GetExamName(Category) {

                $.ajax({
                    type: 'POST',
                    url: '../Exam/GetExamname',
                    dataType: 'json',
                    data: { Category: Category },
                    success: function (Divisions) {
                        if (Divisions.length != 0) {
                            $.each(Divisions, function (i, div) {
                                $("#DDL_ExamName").append('<option value="' + div.value + '">' + div.text + '</option>');
                            });
                        }
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                });

            }

            function Manage_Exam() {


                var ExamCode = $("#DDL_ExamName").val();
                        if (ExamCode != '' && ExamCode != null ) {
                            window.location.href = "@Url.Action("Exam_maintenance", "Exam")?Itemcode=" + ExamCode;
                        } else {

                            Swal.fire({
                                text: ("Please Selete Exam Name"),
                                icon: 'error',
                                title: 'Oops...',

                            }).then(function () {
                                return false;
                            });


                        }

            }



            function CheckRole() {

             debugger

                if ( '@User.IsInRole("Admin")' != "True") {



                    window.location.href = "@Url.Action("index", "home")";
                }


            }


            $("#DDL_ExamCategory").on("change", function () {

                var Category = $("#DDL_ExamCategory").val()

                if (Category != 0) {
                    $("#DDL_ExamName option").remove();
                    GetExamName(Category)
                } else {
                    $("#DDL_ExamName option").remove();
                }
            });




        </script>

    }

</body>






</html>*@

