@model IEnumerable<RISTExamOnlineProject.Models.db.ItemCategory>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<h3>
    <a asp-action="Create" class="btn btn-sm btn-secondary">Create New</a>
</h3>
<div class="row mt-3">
    <div class="col-sm-12">
        <div class="mt-1 mb-3  bg-white border shadow-sm">
            <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ItemCategName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AddDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UpdDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ComputerName)
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @if (!Model.Any())
                {
                    <tr><td colspan="6" class="text-center">No Data</td></tr>
                }
                else
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ItemCategName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AddDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UpdDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ComputerName)
                            </td>
                            <td>
                                <a asp-action="Update" class="btn btn-sm btn-dark" asp-route-id="@item.ItemCateg.Trim()">Edit</a> |
                                <a asp-action="Delete" class="btn btn-sm btn-danger" asp-route-id="@item.ItemCateg.Trim()">Delete</a>
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>

        </div>
    </div>
</div>
