@model IEnumerable<RISTExamOnlineProject.Models.db.ItemCategoryModel>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<h3 class="text-center"><i class="fas fa-list text-success"></i> ItemCategory Master List</h3>
<div class="mt-1 mb-3  bg-white border shadow">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ItemCateg)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ItemCategName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ComputerName)
                </th>
                <th>
                    <a onclick="showInPopup('@Url.Action("AddOrEdit","ItemCategoryMaster",null,Context.Request.Scheme)', 'New ItemCategory Master')" class="btn btn-success text-white"><i class="fas fa-random"></i> New ItemCategory</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemCateg)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemCategName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ComputerName)
                    </td>
                    <td>
                        <div>
                            <a onclick="showInPopup('@Url.Action("AddOrEdit","ItemCategoryMaster",new {id=item.Nbr},Context.Request.Scheme)', 'Update ItemCategory')" class="btn btn-info text-white"><i class="fas fa-pencil-alt"></i> Edit</a>
                            <form asp-action="Delete" asp-route-id="@item.Nbr" onsubmit="return jQueryAjaxDelete(this)" class="d-inline">
                                <input type="submit" value="Delete" class="btn btn-danger" />
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
